:root {
    --accent-color: #009688;
    --font-weight: bold;
    --font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-image: linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
        ),
        url("../img/movie_poster_background.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner {
    flex: 1;
    width: 100%;
    flex-direction: column;
}


.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

footer {
    /* background-color: #111; */
    background-color: rgba(17, 17, 17, 0.8);
}

.footerContainer {
    width: 100%;
    padding: 20px 30px 10px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {

    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;

    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.socialIcons a i {
    font-size: 1.5em;
    color: black;
    opacity: 0.9;
    position: relative;
    z-index: 2;
}



/* Hover effect on icons */

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    z-index: 1;
    background: var(--accent-color);
    transition: 0.5s;
}

.socialIcons a:hover::after {
    width: 100%;
}

.socialIcons a:hover i {
    color: #fff;
    opacity: 1;
    transition: 0.5s;
}



.footerBottom {
    background-color: #000;
    padding: 10px;
    text-align: center;
}

.footerBottom p {
    font-size: 0.8em;
    color: #fff; 
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: var(--font-weight);
    margin: 0 5px;
}



.movies-controls-banner {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    gap: 10px;
    margin-bottom: 50px;
}

.controls {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.controls ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls ul li, .controls input {
    margin: 0 10px;
}



.movies {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    box-shadow: 0 0px 10px rgba(225, 225, 225, 0.3);
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.poster {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(225, 225, 225, 0.3);
}

.controls {
    width: 85%;
     /*top: 50%;
    transform: translateY(-50%);*/
    text-align: center;
    color: #fff;
}

.sort-buttons, input {
    width: 100px;
    padding: 5px 0;
    text-align: center;
    margin: 10px 0px;
    border-radius: 25px;
    font-weight: var(--font-weight);
    border: 2px solid var(--accent-color);
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.span-button {
    background-color: var(--accent-color);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.sort-buttons:hover .span-button {
    width: 100%;
}

.sort-buttons:hover {
    border: none;
}

input {
    background-color: #111;
    color: #fff;
    border: 2px solid var(--accent-color);
    border-radius: 25px;
    padding: 5px 10px;
    width: 200px;
}

.card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    transition: transform 0.3s ease, filter 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
    z-index: 1;
    box-shadow: 0 0 15px var(--accent-color);
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.card-content h2 {
    font-size: 1.5em;
    font-weight: var(--font-weight);
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.card-content p {
    font-size: 1em;
    font-weight: var(--font-weight);
    line-height: 25px;
    opacity: 0.8;
}

.right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pickers {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

#color-picker {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#font-picker {
    text-align: center;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#font-picker, #reset-button {
    background-color: transparent;
    color: #fff;
    font-weight: var(--font-weight);
    border: 2px solid var(--accent-color);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    height: 30px;
    border-radius: 25px;
    text-align: center;
}   

#reset-button {
    width: 100px;
}

#font-picker option{
    background-color: #fff;
    color: #111;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-weight: var(--font-weight);
    font-size: 14px;
    cursor: pointer;
}